<div class="user_snippet">

  <p>
    <big><%= user.name.capitalize %></big> 
    <br />
    <%= link_to user.email,"mailto:"+user.email %>
  </p>

  <div class="user_role">
    <small>Categoría: </small> <%= spanish_role(user.role) %>
  </div>

  <% role_to=spanish_role(inverse_role(user.role)) %>

  <div class="user_delete">	      
    <% if current_user!=user and not role_to.blank?%>
      
      <%= link_to "Convertir a #{role_to}", change_role_user_path(user), method: :post, data: { confirm: "¿Estás seguro que deseas hacer #{role_to} al usuario?" }, class: "btn btn-info" %>
	<%= link_to "Eliminar", user, method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar al usuario?" }, class: "btn btn-danger" %>

      <% end %>	
  </div>
												
</div>
