<%= form_for(@user) do |f| %>

  <%= render 'shared/errors', form_object: @user %>

  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
  
  <%= f.label :password, "Contraseña" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Repita la contraseña" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit text_button, class: "btn btn-large btn-primary" %>
  
<% end %>
