<% provide(:title, "Usuarios") %>

<div class="row-fluid">
  <div class="span6 offset3">

    <div class="h1_forms">
      <h1>Listado de usuarios</h1>
      <h4><small>Usted es <%= spanish_role(current_user.role) %></small></h4>
    </div>
    
    <div class="paginate">
      <%= will_paginate %>
    </div>

    <%= render @users %>

    <div class="paginate">
      <%= will_paginate %>
    </div>

  </div>
</div> 
