<%= form_for(@category) do |f| %>

  <%= render 'shared/errors', form_object: @category %>

  <%= f.label :name,"Nombre" %>
  <%= f.text_field :name %>

  <%= f.label :parent, "Categoría a la que pertenece" %>
    <%= f.text_field :parent, 'data-provide'=> "typeahead", 'data-source'=> data_source_for_categories %>

  <%= f.submit button_text, class: "btn btn-large btn-primary" %>
			  

<%= link_to "Cancelar",categories_path, class: "btn btn-large btn-inverse" %>

<% end %>
