<% if not @result.nil? %>
  var id_geojson="<%= @result[:id] %>";
  var geojson=<%= @result[:geojson] %>;

  layer_cache[id_geojson]=L.geoJson(geojson,
				  {
				      style: add_style,
				      onEachFeature: add_popup_info
				  }
				 );

layer_cache[id_geojson].addTo(map);
<% end %>
