<% provide(:title, "Añadir categoría") %>

<div class="row">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Añade una categoría</h1>
    </div>

    <%= render 'category_form', button_text: "Añadir categoría" %>

  </div>
</div>
