<% if signed_in? and admin? %>
   <div class="menu-button">
     <%= link_to "Mostrar sensores", "#", id: "sensors_data", class: "btn btn-inverse" %>	 
     <%= link_to "", devices_path, remote: true, id: "sensors_link"%>	 
   </div>
<% end %>

<div class="menu-button">   
  <a id="toggle_checkboxs" class="btn btn-info">  </a>
</div>

    
<!-- menu accordion -->
<div class="accordion" id="menu-accordion">

  <% categories=main_categories %>
  <% categories.each do |cat| %>
    <% category_id=cat._id %>
    <% name=cat.name %>
    <% name_link=cat.name.delete(" ")%>
    
    <div class="accordion-group">
     
      <div class="accordion-heading">  <!-- title category -->
	<div class="accordion-toggle">  <!-- separacion -->
	  <%= render 'menu_element', name: name, name_link: name_link,
               parent: "menu-accordion", category_id: category_id, indent: 2 %>
	</div> 
      </div>  <!-- title category -->

      <%= render 'menu_category', parent_name: name, parent_link: name_link, indent: 2 %>

    </div>  <!-- accordion-group -->
    
  <% end %>

</div> <!-- menu accordion -->

