<% provide(:title, 'Inicio') %>
<% @container="container-fluid" %>

<div class="row-fluid">

  <div class="span3">
    <%= render 'logo' %>
    <%= render 'menu' %>
  </div>
  
  <div class="span9">
    <% if signed_in? and admin? %>
      <%= render 'alerts' %>
    <% end %>
    <%= render 'searchbox' %>
    <%= render 'map' %>
  </div>
  

</div>


