
<%= form_for(@device) do |f| %>

  <%= render 'shared/errors', form_object: @device %>
  
  <p>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :lat, "Latitud" %>
    <%= f.number_field :lat, min: -90, max: 90 %>
  </p>

  <p>
    <%= f.label :long, "Longitud" %>
    <%= f.number_field :long, min: -180, max: 180%>
  </p>

  <div class="sensors">
    <%= render 'sensor_form', sensors: @device.sensors, form_parent: f %>
  </div>

   <%= f.submit text_button, class: "btn btn-large btn-primary" %>

<%= link_to "Cancelar",devices_path, class: "btn btn-large btn-inverse" %>

<% end %>
