<div class="row-fluid">
  <div class="devices">
    <strong>
      <%= device.name.capitalize %>
    </strong>
    tiene  
    <strong>
      <%= device.sensors.length %>
    </strong>
    sensores 
    <br />

    <div class="devices_buttons">    
      <%= link_to "Eliminar datos", device_path(device), method: :delete, confirm: "¿Estás seguro de que deseas eliminar todos los datos registrados del dispositivo: #{device.name}?", class: "btn btn-danger"%> 

      <%= link_to "Configurar alertas", edit_device_path(device), class: "btn btn-primary"%>
    </div>
  </div>
</div>
