<!-- based on http://ruby.railstutorial.org/chapters/sign-up.html#sec-signup_error_messages -->
<% if form_object.errors.any? %>
  <div id="error_explanation">

    <div class="alert alert-error">
      <% text_exist="Existe" %>
      <% text_error="error" %>
      <% if form_object.errors.count > 1 %>
	<% text_error+="es" %>
	<% text_exist+="n" %>
      <% end %>
      <%= "#{text_exist} #{form_object.errors.count} "+ text_error+"." %>
    </div>

    <ul>
    <% form_object.errors.full_messages.each do |msg| %>
      <li> - <%= msg %></li>
    <% end %>
    </ul>

  </div>
<% end %>
