<% provide(:title, "Añadir datos") %>

<div class="row-fluid">
  <div class="span6 offset3">
    <h1 class="h1_form">Añade datos</h1>

    <%= form_for(@datum) do |f| %>

    <%= render 'shared/errors', form_object: @datum %>	

    <%= f.label :category, "Categoría a la que pertenecen" %>
    <%= f.select :category, Category.all.collect {|cat| cat.name}%>

    <%= f.label :geojson, "Datos" %>
    <%= f.file_field :geojson  %>
    
    <br />

    <div class="alert alet-info">
      Los datos deben usar la proyección WGS84 o comprimidos (zip) en formato Shapefile.
    </div>

      <%= render 'shared/wait_message' %>

    <br />

    <%= f.submit "Cargar datos", class: "btn btn-large btn-primary", id: "submit_data", onclick: "show_wait_message()" %>

    <%= link_to "Cancelar", data_path,
    class: "btn btn-large btn-inverse" %>

    <% end %>
  </div>
</div>

