<!DOCTYPE html>
<html>
  <head>
    <title>SIGIEM : <%= yield(:title) %> </title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/ie' %> 

    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="SIGIEM: Sistema de Información Geográfica Integrado, Energético y Medioambiental. Por David Antonio Pérez Zaba.">
    <meta name="author" content="David Antonio Pérez Zaba">
    <meta name="keywords" content="David Antonio Pérez Zaba,David Pérez,dpzaba,SIGIEM,UCLM,GIS,SIG">

    <link rel="icon" type="image/png" href="/favicon.png">
      
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container-fluid">	    
      <% flash.each do |type, message| %>
	<div class="alert alert-<%= type %>">
	  <%= message %>
	</div>
      <% end %>
    </div>

    <% correct_container="container" %>
    <% if defined? @container %>
      <% correct_container=@container %>
    <% end%>
    
    <div class=<%= correct_container %> >	
      <%= yield %>
    </div>

    <div class="container-fluid">
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <%= render 'layouts/piwik' if Rails.env.production? %> 

  </body>

</html>
