<div class="row-fluid">
  <div class="span4 offset4">
  
    <div class="h1_forms">
      <h1>Emulador</h1>
    </div>

    <%= form_tag emulators_path do %>
    
      <%= label_tag :name, "Nombre del dispositivo" %>
      <%= text_field_tag :name, params[:name] %>

      <%= label_tag :name_sensor, "Nombre del sensor" %>
      <%= text_field_tag :name_sensor, params[:name_sensor] %>
            
      
      <%= submit_tag "Generar datos",  class: "btn btn-large btn-primary" %>

    <% end %>

  </div>

</div>
