
<%= form_for(@server) do |f| %>

  <%= render 'shared/errors', form_object: @server %>
  
  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name %>

  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>

  <%= f.submit button_text, class: "btn btn-large btn-primary" %>

<%= link_to "Cancelar",wms_servers_path, class: "btn btn-large btn-inverse" %>

<% end %>
